<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign Up</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/register']">Need an account?</a>
        </p>
        <app-backend-error-messages
          *ngIf="backendErrors$ | async"
          [errors]="backendErrors$ | async"
        ></app-backend-error-messages>
        <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
          <fieldset class="form-group">
            <input
              autocomplete="email"
              class="form-control form-control-lg"
              type="email"
              placeholder="Email"
              formControlName="email"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              autocomplete="new-password"
              class="form-control form-control-lg"
              type="password"
              placeholder="Password"
              formControlName="password"
            />
          </fieldset>
          <button
            [disabled]="isSubmitting$ | async"
            class="btn btn-lg btn-primary pull-xs-right"
            type="submit"
          >
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
